!!!
%html
  %head
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{src: 'javascripts/main.js'}
    %link{rel:"stylesheet", type:"text/css", href:"stylesheets/style.css"}
  %body
    %h1
      Words Finder
    .content
      .gameplay
        .letter-grid
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
        .actions
          %button{id: 'ramdomizer', type: 'button'}
            Randomize
          %button{id: 'finder', disabled: 'disabled', type: 'button'}
            Find words

      .loading{style: 'display: none'}
        %img{src: '/images/loading.gif' }

      .results{style:"display: none"}
        %h2
        %span.benchmark
        .words
