!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{src: 'javascripts/time_tracker.js'}
    %script{src: 'javascripts/words_finder.js'}
    %link{rel:"stylesheet", type:"text/css", href:"stylesheets/style.css"}
  %body
    %h1
      Words Finder
    .content
      .gameplay
        .letter-grid
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
          .row
            %input
            %input
            %input
            %input
            %input
        .actions
          %button{id: 'randomizer', type: 'button'}
            Randomize
          %button{id: 'finder', disabled: 'disabled', type: 'button'}
            Find words

      .loading{style: 'display: none'}
        %p
          Searching...

      .results{style:"display: none"}
        %h2
          Words found:
          %span
        .benchmark
          Results found in: 
          %span
          ms.
        .words
